/*CSS Document*/

/*¹«ÓÃ*/
.comWidth {width: 1000px; margin-left: auto; margin-right: auto;}
.leftArea {float: left;}
.rightArea {float: right;}

/*topBar*/
.topBar {height: 31px; background-color: #f7f7f7; line-height: 31px;}
.collection {background:url(../images/icon/star.jpg) left center no-repeat;
padding-left: 19px; font-weight: bold;}
.topBar a:hover {color:red;}

 /*logo*/
.logoBar {height:85px; background-color: #1D7AD9;}
.logo {padding-left:41px; padding-top:13px;}

/*search*/
.search {width: 430px;padding-top: 23px; padding-left: 115px;}
.searchText {width: 350px; height: 35px; padding: 0 5px;border: 0;}
.searchBtn {width: 70px; height: 35px; font-size:14px; font-family:"Microsoft YAHEI","Î¢ÈíÑÅºÚ";
background: #ff8c00;color: #FFF; border: 0;}

/*shopCar*/
.shopCar {width: 148px;height: 35px; margin:23px auto; background-color: #ff8c00; line-height: 35px;
font-family: "Microsoft YAHEI";color: #FFF;font-size: 14px;margin-right: 58px;}
.shopText {background:url(../images/icon/shopCar.jpg) 10px center no-repeat;height: 35px;padding-left: 38px;}
.shopNum {padding-right:28px;background: url(../images/icon/arrows.jpg) 30px center no-repeat;}
.shopNum>div{border-left:1px solid }

/*导航*/
.navBox {height: 35px; background-color: #1369c0; color: #FFF;}
.shopClass {width: 190px; position: relative;}
.shopClass i {width: 11px; height: 7px;overflow: hidden; background: url(../images/icon/down.jpg)
left center no-repeat;display: inline-block;margin-left: 11px;}
.nav,.shopClass{font-family: "Microsoft YAHEI";}
.nav {line-height: 35px}
.nav li {float: left;}
.nav a {height: 35px; display: inline-block; padding: 0 35px;color: #FFF; font-size: 13px;}
.nav .active {background-color: #4593fd; }
.navBox h3 {background: url(../images/icon/class_sj.jpg) right center no-repeat;line-height: 35px;
 text-align: center; }
.shopClass_show {background: url(../images/icon/show_sj.jpg) 165px center no-repeat; background-color: #4593fd;/*浅蓝*/
height: 63px; width: 190px; border-top:1px solid #3487f2; border-bottom:1px solid #5aa1fe;}
.shopClass_item {padding: 10px 15px ; line-height: 22px;}
.shopClass_show a {color: #FFF;}
.shopClass_show .b {font-weight: bold; font-size: 14px; }
.shopClass_show .aLink {background: url(../images/icon/aLink.jpg) left center no-repeat;display: inline-block;width: 40px;
padding-left: 6px;}

/*弹出的菜单*/
.shopClass_list {width: 568px; height: 378px; border: 1px solid #CCC;position: absolute;
left: 190px;top: 35px;padding: 0 10px;}
.shopClass_list a:visited {color:#000;}
.shopClass_list a:link {color: #000;}
.shopClass_list a:hover {color:#ff8c00;}
.shopClass_list dd{color: #000;float: left;display: inline-block;margin: 5px 5px;}
/*shopList_computer*/
/*.shopList_computer {height: 32px; width: 550px;border-bottom: 1px solid #ccc;}
.shopList_computer  {color: #1369c0; font-weight: bold;float: left;display: inline-block;margin: 5px 15px;}*/
/*shopList_install*/
.shopList_install {height: 55px;width:550px;border-bottom: 1px solid #ccc;padding-top: 10px;}
.shopList_install dt{height: 53px;display: inline-block;font-weight: bold;color: #1369c0;float: left;margin: 4px 15px;}/*深蓝*/
/*shopList_net*/
.shopList_net {height: 32px;width:550px;border-bottom: 1px solid #ccc;padding-top: 10px;}
.shopList_net dt{height: 28px;display: inline-block;font-weight: bold;color: #1369c0;float: left;margin: 5px 15px;}
/*shopList_rect*/
.shopList_rect {height: 35px;border-bottom: 1px solid #ccc;padding-top: 10px;}
.shopList_rect #rect1,.shopList_rect #rect2 {width: 105px; height: 25px;background-color: #2785e6;float: left;margin:0 15px;
}
.shopList_rect a {height: 25px;width: 104px; display:inline-block; line-height: 25px;margin-left: 6px;background: url(../images/icon/triangle.jpg) 
78px center no-repeat;}
.shopList_rect a:visited {color: #fff;}




























